*
	{
		margin: 0;
		padding: 0;
		transition: 1s;
		transition: 0s visibility;
	}

body
	{
		background-color: rgba(240, 150, 14,1);
		height: 100vh;
		display: grid;
		grid-template-rows: 1fr 4fr;
	}

div:hover
	{
		background-color: rgba(255,255,255,0.3);	
	}

header
	{
		width: 310px;
		background-color: rgba(255,255,255,0.3);
		border-radius: 25px;
		padding:20px 0 20px 0;
		align-self: center;
		justify-self:center;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items:center;
	}

header > article
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

section
	{
		width: 310px;
		height: 310px;
		display:grid;
		grid-template-rows:1fr 1fr 1fr;
		grid-template-columns:1fr 1fr 1fr;
		gap:5px;
		margin: auto;
	}

section > div
	{
		background-color: rgba(255,255,255,0.4);
		border-radius: 25px;
		display: grid;
		justify-items:center;
		align-items: center;
	}


h2
	{
		font-family: Arial;
		font-size:85px;
	}

 h1
 	{
 		font-family: Arial;
 	}

.X, .fle1
	{
		color: red;
	}

.O, .fle2
	{
		color: blue;
	}

.fle2
	{
		visibility: hidden;
	}

.modal
	{
		display: grid;
		position: absolute;
		height: 100vh;
		width: 100vw;
		background-color: rgba(0,0,0,0.5);
		overflow: hidden;
	}	

.modal > section
	{
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		height: 400px;
	}

/*Este es especifico para los elementos <h3> que estan dentro de una seccion, que esta adentro de un modal.*/
.modal > section > h3, .modal > section > h4
	{
		font-size: 50px;
		font-family: Arial;
		color:white;
		text-align: center;
	}	

.modal > section > h4
	{
		font-size: 30px;
	}

.modal > section > button
	{
		border-radius: 25px;
		font-size: 30px;
		margin: 10px;
		background-color: rgba(255,0,0,1);
		border:0;
		box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.3);
	}

.modal > section > button:hover
	{
		margin: 15px;
		background-color: rgba(255,0,0,1);
		box-shadow: 0px 0px 10px 5px rgba(0,0,0,0);
	}

.oculto
	{
		width: 0;
	}


.elegido
	{
		background-color: rgba(255,255,255,0.1);
	}

.error
	{
		grid-column: span 3;
		justify-self:center;
	}